{% include 'header.html' %}

<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>About Us</h1>
                <p>Welcome to our website! We are a team of dedicated professionals passionate about providing a fast and convenient way to check your test, activtiy, or exam via online. It verifies and correct various papers that you will submit.Our mission is to provide you an objective item analysis without paying any amount of money.</p>
                <p>At our core, we value integrity, accountability and honesty. With our expertise and commitment, we aim to give you a good experience and comfortability in our website.</p>
                <p>Feel free to explore our website to learn more about what we do and how we can help you. If you have any questions or inquiries, don't hesitate to reach out to us.</p>
                <p>You can check out sample images to scan and to base off of at <a type="button" href="https://drive.google.com/drive/folders/1rIrzTUaJsyABk70S451lL5Opr-juUkBy?usp=sharing"> Click Me ! </a></p>
                <p>It is recomended that the photos have little background noise, and should be focused on the paper for best results. The background should be darker than the paper, and should be free off light colors that could be in the same shade as the paper.</p>
                <p>To get the best results it is best for you to know how the application procceses the images.</p>
                <p>Firstly, the uploaded image is ran under a morphology algorithm where the blacks or dark spots are blured which will leave us with only a white paper and a blurred background. Secondly, it is then converted in to grayscale to lessen the range of pixels we wiil working on, having only a range of grayscale pixels instead of millions of colors. Thirdly it is blurred to reduce the noise within the image. Fourthly is we run a thresholding algorithm by Otsu to seperate the light parts and the dark parts i.e the background from the paper. Fifthly, is that we use canny edge detection to detect the edges of the paper from the thresholded image. Next, is we find for the image's contour with the edge detected and then we crop around that contour to have only the paper and then we look for the markers on the four corners and finally check the paper. The proccess is in the google drive provided so you can get an idea.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8 offset-md-2">
                <a href="/" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
</body>
{% include 'footer.html' %}
