{% include 'header.html' %}

<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>About Us</h1>
                <p>Welcome to our website! We are a team of dedicated professionals passionate about [describe your field or topic]. Our mission is to [describe your mission or goals].</p>
                <p>At our core, we value [list your core values or principles]. With our expertise and commitment, we aim to [describe what you aim to achieve].</p>
                <p>Feel free to explore our website to learn more about what we do and how we can help you. If you have any questions or inquiries, don't hesitate to reach out to us!</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8 offset-md-2">
                <a href="/" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
</body>
{% include 'footer.html' %}
